@font-face {
	font-family: "georgia"; 
	src: url("../fonts/Georgia.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
}

@font-face {
	font-family: "georgia"; 
	src: url("../fonts/Georgia-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 700;
}

@font-face {
	font-family: "georgia"; 
	src: url("../fonts/Georgia-Italic.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: 400;
}

@font-face {
	font-family: "arial"; 
	src: url("../fonts/ArialMT.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400;
} 

@font-face {
	font-family: "arial"; 
	src: url("../fonts/Arial-ItalicMT.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: 400;
}