.popup.js-show {
  display: block;
}

.popup.js-hide {
  display: none;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  transition: all 0.4s;
}
.popup__body {
  position: fixed;
  top: calc(50vh - 250px);
  left: calc(50vw - 450px);
  z-index: 50;
  background: #FAFAFA;
  border-radius: 9px;
  max-width: 900px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .popup__body {
    max-width: 630px;
    height: 350px;
    top: calc(50vh - 175px);
    left: calc(50vw - 315px);
  }
}
@media screen and (max-width: 767px) {
  .popup__body {
    max-width: 240px;
    height: 342px;
    top: calc(50vh - 171px);
    left: calc(50vw - 120px);
  }
}
.popup__close {
  position: absolute;
  cursor: pointer;
  top: -57px;
  right: -48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
}
.popup__close svg {
  font-size: 12px;
  fill: #292929;
}
@media screen and (max-width: 767px) {
  .popup__close {
    right: -30px;
  }
}
.popup__content {
  display: flex;
  height: 500px;
  overflow: auto;
}
@media screen and (max-width: 1279px) {
  .popup__content {
    height: 350px;
  }
}
@media screen and (max-width: 767px) {
  .popup__content {
    height: 344px;
  }
}
.popup__img img {
  border-radius: 9px;
  display: block;
  width: 500px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1279px) {
  .popup__img img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 1279px) {
  .popup__img img {
    display: none;
  }
}
.popup__about {
  padding-top: 50px;
  padding-left: 29px;
  padding-right: 20px;
  font: 400 15px/16px "georgia";
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1279px) {
  .popup__about {
    font: 400 13px/14px "georgia";
    padding-right: 9px;
    padding-left: 11px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .popup__about {
    padding: 10px;
  }
}
.popup__title {
  font: 400 35px/45px "georgia";
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .popup__title {
    text-align: center;
  }
}
.popup__subtitle {
  font: 400 20px/23px "georgia";
  margin-bottom: 40px;
}
@media screen and (max-width: 1279px) {
  .popup__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .popup__subtitle {
    text-align: center;
  }
}
.popup__text {
  margin-bottom: 50px;
}
@media screen and (max-width: 1279px) {
  .popup__text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .popup__text {
    margin-bottom: 24px;
  }
}
.popup__item {
  padding-left: 14px;
  position: relative;
  font-weight: 700;
  margin-bottom: 11px;
}
.popup__item:last-child {
  margin-bottom: 0;
}
.popup__item span {
  font-weight: 400;
}
.popup__item::after {
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  background: #f1cdb3;
}
@media screen and (max-width: 1279px) {
  .popup__item {
    margin-bottom: 6px;
  }
  .popup__item:last-child {
    margin-bottom: 0;
  }
}

.popup-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  background: rgba(41, 41, 41, 0.6);
}/*# sourceMappingURL=popup.css.map */